<div class="jumbotron">
    <h1 class="display-4">Welcome to Sports NewsScraper</h1>
    <p class="lead">We provide the most recent sports articles from Fox News!</p>
    <hr class="my-4">
    <p>By clicking the "Scrape New Articles", we grab the data from the website, then display it on this page. Give it a
        try!</p>
</div>