<div class="articles" id="saved-section">
    {{> saved-articles}}
</div>

<!-- Comments Modal -->
<div id="CommentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">



        <!-- Return Article Modal -->
        <div class="modal fade" id="returnArticleModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal body -->
                    <div class="modal-body" id="modal-message">
                        Article Returned!
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn returnArticleCloseBtn" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>