<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the Sports NewScraper</h1>
    <p class="lead">
        This is a simple web app that provides the most current sports news.
    </p>
    <hr class="my-4" />
    <p>
        It uses a scraping method to only grab elements of each article to
        display. Click "Scrape Articles" to get started. Then click "View Articles" to see the scraped articles.
    </p>
    <a class="btn btn-primary btn-lg" href="/scrape" role="button" id="scrape">Scrape New Articles</a>
</div>


<div class="scrape-container">
    <h1>
        Scrape Complete!
    </h1>
    <a class="btn btn-primary btn-lg" href="/articles">View Articles</a>
</div>