<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the Sports NewScrapers</h1>
    <p class="lead">
        This is a simple web app that provide the most current sports news.
    </p>
    <hr class="my-4" />
    <p>
        It uses a scraping method to only grab elements of each article to
        display. Click "Get Articles" to get started.
    </p>
    <a class="btn btn-primary btn-lg" href="/scrape" role="button" id="scrape">Scrape New Articles</a>
</div>


<div class="article">

    <h1>
        Scrape Complete!
    </h1>
    <a class="btn btn-primary btn-lg" href="/">Reload Articles</a>

</div>